.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #8d6551;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #8d6551;
}


.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 250px 100px;
    background-color: #E1E2E6;
}


h2{
    font-size: 55px;
    line-height: 70px;
    color: #c2c2c2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #fff;
    margin: 25px 0 45px 0;
}

.blog{
    padding: 100px 0;
    text-align: center;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    padding: 15px 55px;
}

.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3{
    font-size: 25px;
    color: #fff;
}

.footer{
    padding: 50px 0;
}

.links{
    display: flex;
    justify-content: space-between;
}

.link{
    width: 25%;
}

.link h3{
    font-size: 20px;
    color: #DFDDE0;
    margin-bottom: 20px;
}

.link p{
    color: #8d7e7b;
}

.link ul li a{
    display: inline-block;
    font-size: 16px;
    color: #DFDDE0;
    padding-bottom: 15px;
}
.link ul li a img{ 
    width: 20px;
    height: 20px;
    align-items: center;
    margin-right: 10px;
}


@media (max-width: 991px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    
    .header-content{
        flex-direction: column;
        padding: 30px;
        margin-top: 150px;
    }

    .header-content h1{
        font-size: 40px;
    }

    .header-content p{
        padding: 0;
        margin-bottom: 40px;
    }

    .botons{
        flex-direction: column;
        align-items: center;
    }

    .btn-1{
        margin: 0 0 20px 0;
    }

    .socials-1{
        display: none;
    }

    .arrow{
        display: none;
    }

    .blog{
        padding: 30px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .links{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .link{
        width: 70%;
    }

    .link p{
        margin: 0 0 25px 0;
    }

    .socials-2{
        margin-bottom: 15px;
    }

}